p{
    font-family: 'Pixelify Sans', sans-serif;
}

.delete-wrapper {
    width: 400px;
    margin: 80px auto;
    background: #e6f2ff;
    padding: 30px;
    border-radius: 14px;
    border: 1px solid #000000;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;

    font-family: 'Space Mono', monospace;
    transition: all 0.2s ease;
}

.delete-wrapper:hover {
    /* background: #e6f2ff; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    transform: translateY(-5px);
    color: #244673;
}

.delete-wrapper p {
    font-size: 1.2rem;
    margin-bottom: 25px;
    color: black;
    font-weight: 500;
}

.delete-btn, .back-btn {
    display: inline-block;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.delete-btn {
    background: #e05c5c;
    color: white;
}
.delete-btn:hover {
    background: #c64949;
}

.back-btn {
    background: #d3e7ff;
    color: #244673;
}
.back-btn:hover {
    background: #b9d7ff;
}