
.auth-wrapper {
    width: 420px;
    margin: 60px auto;
    background: #e6f2ff;
    padding: 35px;
    border-radius: 14px;
    border: 1px solid #cfe5ff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Space Mono', monospace;
}

.auth-wrapper h1 {
    text-align: center;
    color: #244673;
    margin-bottom: 20px;
    font-family: 'Pixelify Sans', sans-serif;
}

.auth-wrapper form label {
    font-weight: bold;
    color: #2d6ebd;
    margin-top: 12px;
    display: block;
}

.auth-wrapper input[type="text"],
.auth-wrapper input[type="password"],
.auth-wrapper input[type="email"],
.auth-wrapper select {
    width: 90%;
    padding: 12px 16px;
    border: 2px solid #d7ecff;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.2s ease-in-out;
}

.auth-wrapper input:focus {
    border-color: #2d6ebd;
    box-shadow: 0 0 6px rgba(45,110,189,0.3);
}

.auth-btn {
    width: 30%;
    padding: 12px;
    background: #4a90e2;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.auth-btn:hover {
    background: #2d6ebd;
}

.toggle-text {
    margin-top: 15px;
    text-align: center;
}

.toggle-text a {
    color: #2d6ebd;
    font-weight: bold;
    text-decoration: none;
}

.toggle-text a:hover {
    text-decoration: underline;
}

.back-btn {
    background: #e05c5c;
    color: white;
    display: inline-block;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.back-btn:hover {
    background: #b9d7ff;
}
