/* ---------- GENERAL ---------- */
body {
    font-family: 'Pixelify Sans', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 500;
}

/* ---------- CONTAINER ---------- */
.form-wrapper {
    font-family: 'Space Mono', monospace;
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
}

/* ---------- GRID LAYOUT ---------- */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    
}

/* Each <p> = one field block */
.form-grid p {
    margin: 0;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #d7ecff8e;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
}

.form-grid p:hover{
    transform: translateY(-5px);
}

/* ---------- LABEL ---------- */
.form-grid label {
    font-size: 0.9rem;
    margin-bottom: 6px;
    color: #333;
}

/* ---------- INPUTS / TEXTAREAS ---------- */
.form-grid input,
.form-grid select,
.form-grid textarea {
    padding: 10px 12px;
    border: 1px solid #bbb;      /* lighter border */
    border-radius: 6px;
    font-size: 0.9rem;
    background: #fff;
    width: 100%;
    box-sizing: border-box;      /* prevents overflow */
    
}

textarea {
    resize: vertical;
}

/* Large fields span both columns */
.form-grid textarea {
    grid-column: span 2;
}

/* ---------- BUTTONS AREA ---------- */
.button-row {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* ---------- BUTTONS ---------- */
.submit-btn {
    background: #4a7bd4;      /* calm blue */
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s ease;
    font-family: 'Space Mono', monospace;
    box-shadow: 0px 0px 5px rgba(45, 110, 189, 0.8);
    transition: background 0.25s ease, 
            /* box-shadow 0.25s ease,  */
            transform 0.25s ease, 
            color 0.25s ease;
}
.submit-btn:hover {
    background: #3a69b8;
    transform: translateY(-4px);
}

.back-btn {
    background: #e24a4a;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.25s ease, 
        box-shadow 0.25s ease, 
        transform 0.25s ease, 
        color 0.25s ease;
}
.back-btn:hover {
    background: #c43535;
    transform: translateY(-4px);
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 650px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
    .form-grid textarea {
        grid-column: span 1;
    }
}
