{% extends 'main.html' %}


{% block content %}

 <!-- for making the columns  -->
<style>
    .home-container{
        display: grid;
        grid-template-columns: 0.5fr 3fr 0.5fr;
    }

    .rooms-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .room-container{
        width: 350px;
        height: 250px;
        background: lightblue;
    }

    .topic-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* padding: 20px; */
        margin: 10px;
        border: 1px solid black;
        text-align: center;
    }

</style>

<h1>Hello, {{request.user}}!</h1>


<div class="home-container">

    <div>
        <h3>Browse Topics</h3>
        <hr>

        <div class="topic-container">
            <a href="{% url 'home' %}">All</a>
        </div>

        {% for topic in topics %}
        <div class="topic-container">
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>
        {% endfor %}

    </div>

    <div>
        <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create-room' %}">Create room</a>

        <div class="rooms-container">
            {% for room in rooms %}
            
            <div class="room-container">
                {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}">Edit</a>
                <a href="{% url 'delete-room' room.id %}">Delete</a>
                {% endif %}
                <span>@{{room.host.username}}</span>
                <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
                <small>{{room.topic.name}}</small>
                <hr>
            </div>

            {% endfor %}
        </div>
    </div>

    <div>
        <h3>Profile</h3>
        <hr>
    </div>

</div>

{% endblock content %}