{% extends 'main.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'base/home.css' %}">
{% endblock styles %}


{% block content %}

<style>
    h2{
        font-family: 'Pixelify Sans', sans-serif;
    }

    .box{
        border: black 1px solid;
        font-family: 'Space Mono', monospace;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        gap: 10px;
        /* border: #b3cfe7 2px solid; */
        border-radius: 10px;
        background: #d7ecff8e;
        margin: 10px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    }

</style>

<div class="home-container">

    <!-- LEFT COLUMN -->
    <div class="box">
        <h2>Browse Topics</h2>
        <hr style="width: 80%;">

        <!-- ALL topics -->
        <div class="topic-container">
            <a href="{% url 'home' %}">All</a>
        </div>

        <!-- Loop topics -->
        {% for topic in topics %}
        <div class="topic-container">
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>
        {% endfor %}
    </div>


    <!-- MIDDLE COLUMN -->
    <div class="box">

        <h2>What ya eatin today??</h2>
    

        <!-- <i>*search by name, host and desc*</i> -->
        <form method="GET" action="{% url 'home' %}" class="search-bar">
            <input type="text" name="q" placeholder="Search these recipes... by name, host or desc" />
        </form>

        <hr>

        <div class="rooms-container">
            {% for room in rooms %}
            <div class="room-container">
                <div class="room-header">
                    <span class="room-host">@{{ room.host.username }}</span>

                    {% if request.user == room.host %}
                    <div class="room-actions">
                        <a href="{% url 'update-room' room.id %}" class="edit-btn">Edit</a>
                        <a href="{% url 'delete-room' room.id %}" class="delete-btn">X</a>
                    </div>
                    {% endif %}
                </div>

                <div class="room-body">
                    <h3><a href="{% url 'room' room.id %}">{{ room.name }}</a></h3>
                </div>

                {% if room.image %}
                    <img src="{{ room.image.url }}" alt="recipe image" class="room-image">
                {% endif %}

                <div class="room-footer">
                    <span class="topic-tag">{{ room.topic.name }}</span>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>


    <!-- RIGHT COLUMN -->
    <div class="box">
        <h2>Profile</h2>
        <hr style="width: 80%;">
        <h1>Hello, {{ request.user }}!</h1>
        

        {% if request.user.is_authenticated %}
        <a href="{% url 'create-room' %}" class="button">Add recipe</a>
        <hr>
        <a href="{% url 'logout' %}" class="delete-btn">Logout</a>

        {% else %}
        <a href="{% url 'login' %}" class="edit-btn">Login</a>

        {% endif %}

    </div>

</div>

{% endblock content %}
