{% extends 'main.html' %}
{% load static %}

{% block content %}

{% block styles %}
<link rel="stylesheet" href="{% static 'base/login_register.css' %}">
{% endblock styles %}


{% if page == 'login' %}

<div class="auth-wrapper">
    <h1>Login</h1>

    <form method="POST">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password">
        

        <button type="submit" class="auth-btn"><b>Login</b></button>
    </form>

    <p class="toggle-text">
        Haven’t signed up yet?
        <a href="{% url 'register' %}">Create an account</a>
    </p>

    <a href="{% url 'home' %}" class="back-btn">Cancel</a>
</div>


{% else %}

<div class="auth-wrapper">
    <h1>Create Account</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="auth-btn">Register</button>
    </form>

    <p class="toggle-text">
        Already registered?
        <a href="{% url 'login' %}">Login here</a>
    </p>

    <a href="{% url 'home' %}" class="back-btn">Cancel</a>
</div>

{% endif %}

{% endblock content %}
